body{
			background-color: #66ccff;
		}
			div{
				margin: 0px auto;
				height: 800px;
				width: 500px;
				background-color: #CCCCFF;
				background-image: url(../img/1.jpg);
				background-repeat: repeat;
			}
			 div h2{
				
				text-align: center;
				color: rgba(0,0,0,0.6);
				text-shadow:aqua 10px 8px 4px;
			}
			p{
				margin: 11px 4px 0px 4px;
				text-indent: 2em;
				line-height: 38px;
			}
			p span{
				font-size: 20px;
				font-weight: bold;
				color: red;
			}