*{
	margin: 0px;
}
body{width: 600px;}
h1{
	background-color: blue;
	color: white;
	text-align: center;
	padding:15px;
	
}
.bg{
	background: #ccccff;
	margin: 0px;
}
.img{
	border: 1px dashed #9999cc;margin:5px;
	float: left;
	margin: 5px;
}
p{
	text-indent: 20px;line-height: 1.5;	
	font-size: 12;
	padding: 5px;
}
#p1{border-right: 3px double red;}
#p2{border-right: 3px double orange;}


