<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PinHong</display-name>
  <welcome-file-list>
    <welcome-file>init</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>initnews</servlet-name>
    <servlet-class>pinhong.servlet.InitNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initnews</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pinhong.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductsServlet</display-name>
    <servlet-name>showpro</servlet-name>
    <servlet-class>pinhong.servlet.ShowProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showpro</servlet-name>
    <url-pattern>/showproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FenYeServlet</display-name>
    <servlet-name>FenYeServlet</servlet-name>
    <servlet-class>pinhong.servlet.FenYeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenYeServlet</servlet-name>
    <url-pattern>/fenye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManager</display-name>
    <servlet-name>UserManager</servlet-name>
    <servlet-class>pinhong.servlet.UserManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/usermanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messageservlet</display-name>
    <servlet-name>messageservlet</servlet-name>
    <servlet-class>pinhong.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageservlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetValueById</display-name>
    <servlet-name>GetValueById</servlet-name>
    <servlet-class>pinhong.servlet.GetValueById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetValueById</servlet-name>
    <url-pattern>/getvaluebyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRevert</display-name>
    <servlet-name>addRevert</servlet-name>
    <servlet-class>pinhong.servlet.addRevert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRevert</servlet-name>
    <url-pattern>/addrevert</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charset</filter-name>
    <filter-class>pinhong.util.SetCharset</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MessageLoginServlet</display-name>
    <servlet-name>MessageLoginServlet</servlet-name>
    <servlet-class>pinhong.servlet.MessageLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageLoginServlet</servlet-name>
    <url-pattern>/msglogin</url-pattern>
  </servlet-mapping>
</web-app>