*{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: darkgrey;
}
#quanju{
    width: 500px;
    height: 810px;
    margin:0px auto ;
    border: 10px blue solid;

}
#neirong{
    width: 460px;
    height:770px;
    margin: 0px 20px;
}
.neirongmodian1{
	width:70px;
	height:20px;
	}
.neirongmodian2{
	width:70px;
	height:20px;	
	}
a{
    color: black;
    text-decoration: none;
    background-color:aqua ;
}
#biaoti{
    width: 460px;
    height: 60px;
}
#biaoti h1{
    font-size:35px;
    text-align:center;
    color:#FFF;
    padding:10px 0px;
    background-color:#0F6;
}
#geren{
    width: 460px;
    height: 160px;
    background-color: aqua;
}
#geren table{
    width: 420px;
    height: 160px;
    background-color: aqua;
    margin:auto auto;

}
#geren table tr{
    text-align: center;
}
#geren table tr td{
    height: 20px;
    font-size: 8px;
    background-color: aqua;
}
#geren table tr td:hover{
    background-color: red;
}
#geren table tr td img{
    width: 80px;
    height: 120px;
    margin: auto 0px;
}
#xiaobiaoti{
    height: 30px;
    background-color: #00FF66;
}
#xiaobiaoti .biaoti{
    width: 150px;
}
#xiaobiaoti .biaoti h1{
    font-size: 20px;
    color: white;
    background-color: blueviolet;
	padding:2px 30px;
}
#xiaobiaotineirong{
    height: 80px;
    background-color: darkseagreen;
}
ul{
    list-style-type: none;
    background-color: darkseagreen;
    float: left;
}
ul li{
    margin: 5px 20px;
    color: white;
    background-color: darkseagreen;
}
P{
    padding: 5px 0px;
    color: white;
    background-color: darkseagreen;
}